<table>
  <thead>
    <tr>
      <th>email</th>
      <th>artifact</th>
      <th>type</th>
      <th>first_name</th>
      <th>last_name</th>
      <th>stripe_id</th>
      <th>company_id</th>
      <th>stripe_subscription_id</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.artifact %></td>
        <td><%= user.type %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.stripe_id %></td>
        <td><%= user.company_id %></td>
        <td><%= user.stripe_subscription_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
