<h1>Studios</h1>
<br>
<p> Choose a studio to see some of their featured art!</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Check us out!', company %></td>
        <td><%= link_to '   |  Delete', company, method: :delete, data: { confirm: 'Are you sure you want to delete this company? This cannot be undone!' } if policy(company).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user&.subscribed? %>
    <%= link_to 'Create Your Own!', new_company_path %> - <%= current_user.stripe_subscription_id %>
<% else %>
  <p><%= link_to "Subscribe Now!", "/billing" %></p>
<% end %>
