<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Check us out!', company %></td>
        <td><button type="button" class="btn btn-info"><%= link_to 'Edit', edit_company_path(@company), :class => "btn" if policy(@company).update? %></button></td>
        <td><button type="button" class="btn btn-info"><%= link_to 'Delete', @company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"  if policy(@company).destroy? %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
