<h1>Studios</h1>
<br>
<p> Choose a studio to see some of their featured art!</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Check us out!', company %></td>
        <td><button type="button" class="btn btn-info"><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"  if policy(company).destroy? %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user&.subscribed? %>
  SUBSCRIBED - <%= current_user.stripe_subscription_id %>
<% else %>
  <p><%= link_to "Subscribe Now!", "/billing", class: 'btn btn-primary' %></p>
<% end %>
