
<p>
  <strong><%= @company.name %></strong>
</p>

<% @company.artifacts.each if @company.artifacts.any? do |art| %>
  <div class="card text-center">
     <img class="card-img-top showpage-image"<%= image_tag art.image.url %>
      <div class="card-body">
        <h5 class="card-title"><%= art.name %></h5>
        <p class="card-text"><%= art.description %> <br></p>
<% end %>


<button type="button" class="btn btn-info"><%= link_to 'Edit', edit_company_path(@company), :class => "btn" if policy(@company).update? %></button>
<button type="button" class="btn btn-info"><%= link_to 'Delete', @company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"  if policy(@company).destroy? %></button>
<button type="button" class="btn btn-info"><%= link_to 'Back', companies_path, :class => "btn"%></button>
