<h1>Masterpieces</h1>
<%= link_to 'Create Your Own!', new_artifact_path %>

<div class="card-deck">
  <% @artifacts.each do |artifact| %>
    <div class="card-text-center border border-primary" style="width: 15rem; margin: 7px; padding:6px;">
      <%= link_to (image_tag artifact.image.url(:square)), artifact %>
      <br>
      <strong class="card-text"><%= artifact.name %></strong>
      <p class="card-text"><%= truncate(artifact.description, length: 55, separator: ' ') %></p>
        <div class="card-footer">
          <button type="button" class="fa fa-thumbs-up"><%= link_to 'Like', like_artifact_path(artifact), method: :put,  :class => "btn"%></button>
          <div class="fa thumbs-up">
            <%=artifact.get_upvotes.size %>
          </div>
        </div>
    </div>
  <% end %>
</div>

<br>
